<h1>Found {{total}} products matching "{{q}}"</h1>

{{#*inline "pagination"}}
  {{#if pages.previous}}
    <a href="/search?q={{q}}&page={{pages.previous}}">Previous</a>
  {{/if}}

  {{#each pages.pages}}
  {{#if current}}
    {{page}}
  {{else}}
    <a href="/search?q={{../q}}&page={{page}}">{{page}}</a>
  {{/if}}

  {{/each}}

  {{#if pages.next}}
    <a href="/search?q={{q}}&page={{pages.next}}">Next</a>
  {{/if}}
{{/inline}}

{{> pagination}}
{{#each data}}
  <li>
    <a href="/product/{{id}}">
      <img src="{{image}}" style="height: 100px">
      {{name}}
    </a>
  </li>
{{/each}}
{{> pagination}}


